/* .card {
    background: rgba(255, 255, 255, 0.2);
} */
#team {
    padding-top: 8rem !important;
}
.membersTopGrid {
    padding-top: 25vh;
    padding-bottom: 15vh;
}
.membersMiddleGrid {
    padding-bottom: 15vh;
}
#showBio {
    background: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(180deg, #ffff0000 25%, #ffffff00 50%, rgba(255, 255, 255, 0.1) 50%);
    color: white;
    border: none;
    border-radius: 15px;
    width: 25rem;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-size: 15px;
    left: -8.5vw;
}
#mobileBio {
    background: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(180deg, #ffff0000 25%, #ffffff00 50%, rgba(255, 255, 255, 0.1) 50%);
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-size: 15px;
    margin-bottom: 0;
}
.mobileBioCol {
    padding: 0 !important;
}
.mobileImg {
    margin-bottom: 1.25rem;
    margin-top: 2rem;
    border-radius: 15px;
}
.mobileMember {
    text-align: center;
    padding-right: 0 !important;
}
.mobileRow {
    margin: 1rem 0rem;
    width: 100%;
    justify-content: center;
}
.membersLowerGrid {
    padding-bottom: 15vh;
}

@media only screen and (max-width:600px) {
    .desktopTeam {
        display: none;
    }
}
@media only screen and (min-device-width: 601px) and (max-width:1024px) {
    .desktopTeam {
        display: none;
    }
    .mobileImg {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    #mobileBio {
        margin-top: 0rem;
        width: 100%;
    }
}
@media only screen and (min-device-width: 1025px) and (max-width:1300px) {
    #showBio {
        background: rgba(255, 255, 255, 0.2);
        background-image: linear-gradient(180deg, #ffff0000 25%, #ffffff00 50%, rgba(255, 255, 255, 0.1) 50%);
        color: white;
        border: none;
        border-radius: 15px;
        width: 17rem;
        text-align: left;
        padding: 1rem;
        margin: 1rem;
        font-size: 15px;
        left: -5vw;
    }
}
@media only screen and (min-device-width: 1600px) {
    #showBio {
        left: -6.5vw;
    }
}