#earlyAccess {
    padding-bottom: 11rem;
}
#wantEarlyAccess {
    margin-bottom: 5rem;
    font-size: 40px;
}
.contactinput {
    /* margin: 0rem 0rem 1.6rem 0rem; */
    background: rgba(255, 255, 255, 0.5) !important;
    border: 0px !important;
    color: #ffffff !important;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}
::placeholder {
    color: #fff;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}

@media only screen and (max-width:401px) {
    #wantEarlyAccess {
        margin-bottom: 5rem;
        font-size: 25px;
    }
    #earlyAccess {
        padding-top:5rem;
        padding-bottom: 5rem;
        max-width: 100%;
    }
}

@media only screen and (min-width:402px) and (max-width:600px){
    #earlyAccess {
        padding-top:5rem;
        padding-bottom: 5rem;
        max-width: 100%;
    }
}

@media only screen and (min-device-width: 601px) and (max-width:1024px) {
    #earlyAccess {
        padding-bottom: 5rem;
    }
}